/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333; /* Default text color */
}

.container-fluid {
    padding-top: 20px;
}

.list-group-item {
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    color: #007bff; /* Updated text color on hover */
}

.list-group-item.active {
    background-color: #007bff;
    color: #fff;
}

/* Navbar */
.navbar {
    background-color: #343a40; /* Dark grey background for navbar */
    color: #fff; /* Text color for navbar */
}

.navbar-brand {
    font-weight: bold;
}

.language-selector .form-control {
    color: #fff; /* Text color for language selector */
    background-color: #007bff; /* Background color for language selector */
    border-color: #007bff; /* Border color for language selector */
}

.language-selector .form-control:focus {
    box-shadow: none; /* Remove focus box-shadow */
}

/* Section Title */
#section-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff; /* Updated section title color */
    margin-bottom: 20px;
}

/* Subsection List */
.content-area {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.content-area .list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    color: #333;
    transition: background-color 0.3s ease;
}

.content-area .list-group-item:last-child {
    border-bottom: none;
}

.content-area .list-group-item:hover {
    background-color: #f8f9fa;
    color: #007bff; /* Updated text color on hover */
}

/* Video Player */
#video-player {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Subsection Info */
#subsection-info {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

/* Additional decorative elements */
.decorative-element {
    background-color: #f1c40f; /* Yellow background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 20px; /* Bottom margin */
    font-weight: bold; /* Bold text */
}
