body{
    font-size:roboto;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-position: center;
    background-size: cover;
    height: 85vh;
    background: -webkit-linear-gradient(left, #efeee198, #898f83);
}
tr:nth-child(1){
    background: rgb(0,5,0); 
    color: rgb(0, 0, 0);
    font-size: 22px;
    height: 30px;
    

}
tr:nth-child(odd){
    background: rgb(130, 126, 126);
}
tr:nth-child(even){
    background: whitesmoke;
}

.choosefile{
    position:relative;
    cursor: pointer;

}

.choose{
    border-radius: 2px;
    text-align: center;
}


/* h1 {
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    } */

    h1 {font-family: Verdana, Arial, Helvetica, sans-serif;

        margin-top: 0.0em;
    
        margin-bottom: 0.5em;
    
        color: #00003c;
    
        FONT-SIZE: 18pt;
    
    font-weight: bold; color: #000000
    
    }

    a {
        background-color: rgb(227, 80, 80);
        color: white;
        padding: 0.8em 1.2em;
        text-decoration: none;
        text-transform: uppercase;
      }

      .choose {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }